body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

.section {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    position: relative;
}

.background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    animation: beat 7s infinite ease-in-out;
}

.section-1 .background {
    background: url('/1.jpg') center center/cover no-repeat;
}

.section-2 .background {
    background: url('/2.jpg') center center/cover no-repeat;
}

.section-3 .background {
    background: url('/3.jpg') center center/cover no-repeat;
}

header {
    position: relative;
    z-index: 1;
    transform: translateY(-100%);
    font-size: 40px;
    margin-top: 200px;
    color: #fff;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.7);
}

@keyframes beat {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1);
    }
}

.sun {
    position: absolute;
    top: 300px;
    left: 300px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(233, 233, 223);
    z-index: 100;
    box-shadow: 0 0 20px 20px #f0f0e9;
    display: none;
}